template(name='bikesList')
  table.data-set
    //- Labels Row
    tr
      td bike
      td status
      td Needs
      td Repaired on
      td.pos Lat
      td.pos Lng
    //- Actual Bike Data
    each bikes
      tr
        td #{bike}
        td #{status}
        td #{needs}
        td #{repaired}
        td.pos #{Lat}
        td.pos #{Lng}
