template(name='bikesList')
  table.data-set
    //- Labels Row
    tr
      td timestamp
      td status
      td mechanicNotes
      td partslist
      td mechanic
      td role
      td.pos lat
      td.pos lng
    //- Actual Bike Data
    each bikes
      tr
        td {{formatDate timestamp "shortest"}}
        td #{status}
        td #{mechanicNotes}
        td #{partslist}
        td #{mechanic}
        td #{role}
        td.pos #{lat}
        td.pos #{lng}