template(name='bikesList')
  .data-set.row
      table
        //- Labels Row
        tr
          td Bike Number
          td Status
          td Needs
          td Repaired on
          td Latitude
          td Longitude
        //- Actual Bike Data
        each bikes
          tr
            td #{title}
            td #{status}
            td #{needs}
            td #{repaired}
            td #{latitude}
            td #{longitude}
