template(name='bikesList')
  table.data-set
    //- Labels Row
    tr
      td Bike Number
      td Status
      td Needs
      td Repaired on
      td.pos Latitude
      td.pos Longitude
    //- Actual Bike Data
    each bikes
      tr
        td #{title}
        td #{status}
        td #{needs}
        td #{repaired}
        td.pos #{latitude}
        td.pos #{longitude}
