template(name="timeseries")
  h3 Bike Number #{timeseries.Bike} on Day: #{timeseries.DD}, #{timeseries.MM}, #{timeseries.YYYY}
  h4 Lat
  each timeseries.Lat
    p #{this}
  h4 Long
  each timeseries.Long
    p #{this}