template(name="timeseries")
  h3.cntr Bike Number #{timeseries.Bike} on Day: #{timeseries.DD}, #{timeseries.MM}, #{timeseries.YYYY}
  table.data-set
    //- Labels Row
    tr
      td User
      td Lat
      td Long
    //- every recording of bike __ at noon (i.e. 12 am) on above date
    each timeseries.Day.[12]
      tr
        td #{User}
        td #{Lat}
        td #{Long}