template(name='admin2layout')
  button.seeLess See Less
  if ViewUsersFunc
    table.data-set
      //- Per user history
      tr
        td bike
        td timestamp
        td User
        td Lat
        td Lng
      each admin2layout.positions
        tr
          td #{bike}
          td #{timestamp}
          td #{User}
          td #{Lat}
          td #{Lng}
  else
    table.data-set
      //- Labels Row
      tr
        td ID
        td User
        td &nbsp;
      each admin2layout
        tr
          td #{_id}
          td #{User}
          td
            button.seeMore See More